/* .home{
    background-color:red;
} */

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    /* grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); */
}