
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    padding: 20px 80px;
    cursor: pointer;
    background-color: #f8f8f8;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
}
.left{
    font-size: 24px;
    margin: 0;
    cursor: pointer;
    transition: all .2s linear;
    color: black;
}
.left h1{
    text-decoration: none;
    list-style: none;
    color: black;
}
.left a{
    text-decoration: none;
}
.left:hover h1{
    color: #ffcc00;
    text-decoration: underline;
}

.center{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    text-decoration:dashed;
    transition: all .2s linear;
}
.center ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
    list-style-type: none;
}
.center li a{
    text-decoration: none;
    font-size: 20px;
    color: black;
}
.center li a:hover{
    color:#ffcc00 ;
}
.right ul{
    display: flex;
    color: red;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 30px;
}
.right li a{
    text-decoration: none;
    font-size: 23px;
    color: black;
    transition: color 0.2s ease-in-out;
}
.right li a:hover{
    color: #ffcc00;
}